<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    
    <form action="/user" method="post" encType="multipart/form-data">
        <label for "file">Upload User List</label>
        Click <a href="/template">here</a> for an example template.</p>
        <input type="file" name="file" accept="*.csv" />
        <button>Submit</button>
    </form>
    <%= locals.error %>
    <%= locals.message %>
</body>
</html>